<%= javascript_pack_tag 'homepage', 'data-turbolinks-track': 'reload' %>

<div>
  <label>Upload image</label>
  <input type="file" id="image-select" name="image" accept="image/*" />
  <button id="post-image">Upload</button>
</div>